<div id="page">
	<section id="welcome">
		<h1>Welcome, what's your tasks today?</h1>
	</section>
	<section id="btns">
		<button
			mat-raised-button
			color="primary"
			(click)="createOrUpdateTodoList('create', undefined)"
		>
			Add new todolist
		</button>
		<button
		mat-raised-button
		color="basic"
		(click)="auth.signOut()"
	>
		logout
	</button>
	</section>

	<section class="todolists">
		<ng-container *ngIf="todoLists$ | async as todoLists; else empty">
			<li *ngFor="let todolist of todoLists" style="display: inline">
				<todo-list [todoList]="todolist"></todo-list>
			</li>
		</ng-container>
		<ng-template #empty> </ng-template>
		<li style="display: inline">
			<div id="blured">
				<button mat-fab color="accent">
					<mat-icon (click)="createOrUpdateTodoList('create', undefined)">add</mat-icon>
				</button>
				<h2 id="blurred-title">blured title</h2>
			</div>
		</li>
	</section>
</div>
