* {
  font-family: "Roboto";
}
html {
//   background-image: linear-gradient(to right, #ffffff, #eee, #ffff);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: auto;
  width: max-content;
  height: 100%;
}

a {
  cursor: pointer;
}
mat-form-field.full {
  width: 100%;
}
