* {
	font-family: 'Roboto';
}
html {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	overflow-x: auto;
	width: 100%;
	height: 100%;
}

a {
	cursor: pointer;
}
mat-form-field.full {
	width: 100%;
}

.center {
	text-align: center;
}

div#identity-page {
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: black;
	color: white;

	div.form-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		height: 100%;
		margin: auto;
	}
	p {
		margin: 10px 0;
		width: 100%;
	}
	button {
		display: block;
		margin: 5px;
		text-align: center;
		width: 100%;
	}

	mat-form-field {
		width: 100%;
	}
}
