<ng-container>
	<div id="identity-page">
		<div class="form-wrapper">
			<div>
				<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
					<label for="todoItemDetailForm">
						<h1 mat-dialog-title class="center">Sign Up</h1>
					</label>
					<mat-form-field class="form-element" appearance="fill">
						<mat-label>Email</mat-label>
						<input
							type="text"
							class="formControl"
							placeholder="Username"
							formControlName="name"
							matInput
						/>
					</mat-form-field>
					<mat-form-field class="form-element" appearance="fill">
						<mat-label>Password</mat-label>
						<input
							type="password"
							class="formControl"
							placeholder="password"
							formControlName="password"
							required
							matInput
						/>
					</mat-form-field>
					<div #footer>
						<button type="submit" mat-raised-button [disabled]="!signUpForm.valid">
							Sign up
						</button>
					</div>
				</form>
				<ng-container>
					<p class="center">OR</p>
					<button mat-raised-button color="primary" (click)="authService.googleAuth()">
						Continue with google
					</button>
					<p class="center">
						Have an account already ?&nbsp;<span><a [routerLink]="'../login'">Log In</a></span>
					</p>
				</ng-container>
			</div>
		</div>
	</div>
</ng-container>
