<h1 mat-dialog-title>Todolist item {{ data.flag }}</h1>
<div mat-dialog-content>
  <mat-form-field class="full">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.item.title" />
  </mat-form-field>
  <mat-form-field class="full">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [(ngModel)]="data.item.description"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      style="width: 100%"
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.item.deadline" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-checkbox style="padding: 10px 20px" [(ngModel)]="data.item.done"
    >Done</mat-checkbox
  >
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    color="success"
    (click)="save(data.item, data.flag, data.id)"
  >
    Ok
  </button>
</div>
